# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD="thisisasecretespassword"
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD="thisisasecretkbpassword"
# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
