DATABASE_URL=""
JWT_SECRET="secret"
JWT_EXPIRES_IN=90
NODE_ENV=development
PORT=3000
COOKIE_EXPIRES_IN=90
THROTTLE_TTL=60
THROTTLE_LIMIT=3600
COMPRESSION_THRESHOLD=1024
SMTP_HOST=""
SMTP_PORT=2525
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_FROM=""
MINIO_ENDPOINT=""
MINIO_PORT=9002
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
RMQ_URL=""
ELASTICSEARCH_NODE=""
ELASTICSEARCH_USERNAME=""
ELASTICSEARCH_PASSWORD=""